<?xml version="1.0" encoding="UTF-8"?>

<phpunit color="true">
    <testsuites>
        <testsuite name="PHPConfigurationLoader">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>
</phpunit>
